body {
    background-image: url('../images/rockers.jpg');
    text-align: center;
}

h1 {
    color: rgb(89, 30, 148);
    font-family: 'Indie Flower'; 
}

#question {
    font-family: 'Shadows Into Light';
}

#results {
    min-height: 60px;
}

.jumbotron {
    background-color: rgba(17, 123, 123, 0.954);
    border-style: outset;
    border-width: 10px;
    border-color: rgb(89, 30, 148);
    margin: 100px;
}

#start{
    background-color: rgb(89, 30, 148);
    border-color: goldenrod;
    color: goldenrod;
    
}

/* using visibility over display to prevent html elements jumping */
#remaining-time {
    visibility: visible
}

#remaining-time .timer-active {
    visibility: visible;
}